{% extends "website/homepage.html" %}

{% block content %}
  {% load staticfiles %}
  <div class="container">
    <h1> Sunglasses</h1>
  </div>
  <br>

  <br>
  <form method="POST" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.description }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.description }}</h5>
            <p class="card-text">{{ product.price }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
</form>
{% endblock %}
