{% extends "website/homepage.html" %}

{% block content %}
  {% load staticfiles %}
  <div class="container">
    <h1> Sunglasses</h1>
  </div>
  <br>

  <br>
  <form method="POST" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.description }}"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ product.description }}</a>
            </h4>
            <h5>${{ product.price }}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
</form>
{% endblock %}
